.card {
  display: flex;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
  width: 30%;
  margin: 5px;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s;
}

.card > a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.album-text {
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}
